@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
} 

.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right,#93C572 70%,#C8EBB1 30%);
    position: relative;
    overflow: hidden;
}
.wave{
    position: absolute;
    top: 0;
    right: 30%;

}

nav{
    width: 98%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    margin:0 5px;
}

nav ul a{
    text-decoration: none;
    padding: 0.3rem 1.3rem;
    font-size: 17px;
    font-weight: bold;
    color: #494234;
    position: relative;
    z-index: 1;
}

nav ul a::after{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #C8EBB1;
    z-index: -1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

nav ul a:hover:after{
    width: 100%;
}
 nav img{
    width: 6%;
    height: 6%;
 }